<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apachegoo.mapper.ArticleMapper" >
	<resultMap type="com.apachegoo.model.Article" id="articleResultMap">
		<id property="articleId" column="article_id"/>
		<result property="articleCategory" column="article_category_id"/>
		<result property="articleTitle" column="article_title"/>
		<result property="articleContent" column="article_content"/>
		<result property="updateTime" column="updateTime"/>
		<result property="visitTime" column="visitTime"/>
	</resultMap>
	<select id="findAllArticle" resultMap="articleResultMap">
		SELECT
			article.article_id,
			article.article_category_id,
			article.article_title,
			article.article_content,
			article.updateTime,
			article.visitTime
		FROM
			article
	</select>
	<select id="queryArticle" parameterType="map" resultType="map">
		SELECT
			article_id,
			article_category_id,
			article_title,
			updateTime,
			visitTime
		FROM
			`article`
		ORDER BY
			article.article_id
		LIMIT #{start},
		#{num}
	</select>
	<select id="getArticleCount" resultType="int">
		select count(article_id) from article
	</select>
</mapper>